.new-problem-container {
  padding: 20px;
  padding-top: 10px;
}

.name-input {
  border-radius: 0px;
  margin-bottom: 20px;
}
.time-memory-limit {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 10px;

  align-items: center;
}
.time-memory-input {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
  justify-content: center;
}
.problem-details {
  margin-top: 10px;
}
.problem-details label {
  /* Your styles here */
  font-size: 14px;
  margin-bottom: 3px;
  display: block;
  color: #333;
}
.save-button-problem-editor {
  margin-left: auto;
}
