.description-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 15px;
}

.description-buttons .ant-btn {
  border-radius: 0px;
}

.description-info-content {
  padding-bottom: 10px;
  margin: 0px;
  height: 480px;
  overflow-y: auto;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
